.ruka{
   color: crimson;

}
.kaste{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}


.kkk {
    margin-left: auto;
    margin-right: auto;
  }

body {
    font-family: 'Sedgwick Ave Display', cursive;
}